body {
    background-image: url(duck.jpg);
    width: 1400;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: green;
    font-size: 70px;
    font-family: 'Shizuru', cursive;
    text-align: center;
    position: relative;
    top: 350px;
    left: 110px;
}